*{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif, cursive;
    font-weight: 600;
    text-align: center;
}



table{
    display: flex;
    justify-content:center;
    
}

tbody{
    border: 0.5px solid rgb(0, 0, 0);
}

.liberaAcesso{
    display: flex;
    justify-content: center;
}

.nivelDeAcesso{
    display: flex;
    justify-content: center;
    min-height: 250px;
    gap: 10px;
    padding: 10px;
}

.colunaDeAcesso{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: rgb(175, 175, 184);
    min-width: 100px;
    border-radius: 10px;
}

.item{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.item:hover{
    background-color: rgb(201, 201, 8);
}

.dragging {
    opacity: 0.5;
  }

#botaoEnviaAcesso, #botaoCancelaAcesso{
	font-size: 12px;
	font-weight: normal;
	font-family: 'Noto Sans', sans-serif;
	padding: 2px 12px 2px 12px;
	border-radius: 4px;
	background: grey;
	color: black;
	border: solid 2px white;
}
#botaoEnviaAcesso:hover, #botaoCancelaAcesso:hover{
    background-color: rgb(92, 105, 105);
}

.infoTable, input{
    width: 221px;
    height: 25px;
}

#botaoCancela, #botaoSalvar{
    border-radius: 10px;
    border: none;
}

#botaoCancela:hover, #botaoSalvar:hover{
    background-color: rgb(201, 201, 8);
    cursor: pointer;
}