*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif, cursive;
    font-weight: 600;
    text-align: center;
}



table{
    display: flex;
    justify-content:center;
    
}

tbody{
    border: 0.5px solid red;
}

.liberarAcessos{
    display: flex;
    justify-content: center;
    min-height: 250px;
    gap: 10px;
    padding: 10px;
}

.colunaAcessos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: blue;
    min-width: 100px;
    border-radius: 10px;
}

.nivelAcessos{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

#botaoEnviaAcesso, #botaoCancelaAcesso{
	font-size: 12px;
	font-weight: normal;
	font-family: 'Noto Sans', sans-serif;
	padding: 2px 12px 2px 12px;
	border-radius: 4px;
	background: grey;
	color: black;
	border: solid 2px white;
}
#botaoEnviaAcesso:hover, #botaoCancelaAcesso:hover{
    background-color: rgb(92, 105, 105);
}

.infoTable, input{
    width: 221px;
    height: 25px;
}